body
{
    background-image: url("../images/stock.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: auto;
}
.loginpanel
{
    width: 100%;
    background-color: #80ffff;
}
.row
{
    width:  inherit;
}
.col-md-4
{
    text-align: center;
    text-transform: capitalize;
}
.col-md-4 h4
{
    color: #990099;
    text-shadow: -4px 4px 3px  #cc00cc;
    font-size: 180%;
}
.col-md-8
{
    text-align: center;
    margin-top: 1%;
}
#id
{
    height: 100%;
}
#log
{
    margin-left: 18%;
}
.error
{
    margin:0;
    padding: 0 0;
    text-align: left;
    color: red;
    margin-left: 7%;
}
.registerpanel
{
    width: 40%;
    background-color: #A9A9A9;
    margin-left: 48.5%;
    margin-top: 5%;
    opacity: 0.9;
    text-align: center;
    border-radius: 10px;
}
.reg
{
    color: #fff8dc;


}
.regbody
{

    margin-left: 13%;
}
.registerbutton
{
    text-align: left;
    margin-right: 89%;
    margin-bottom: 14%;
}
.regerror
{
    color: red;
    margin-bottom: 0;
    text-align: left;
}
.tip
{
    color: white;
    margin-bottom: 0;
    text-align: left;
}
