.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover
{
    color: #990099;
    text-shadow: -4px 4px 3px  #cc00cc;
}
.navbar-default
{
    background-color: #80ffff;
}

/*BACKGROUND color for active*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
 a:hover, .navbar-default .navbar-nav > .active > a:focus
{
    background-color: white;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
.custom
{
    margin-left: 15%;

}
.navbar-default
{
    border-bottom: none;
}

#cashleft
{
    text-align: center;
    font-size: 130%;
}
#custom
{
    margin: 3% auto 0 auto;
    width:65%;

}
#quotePrice
{
    font-size: 150%;
    text-align: center;
    margin-top: 3%;
}
.graphlist ul
{
    list-style-type: none;
}
.graphlist
{
    width: 45%;
    margin: 3% auto 3% auto;
}
.graphlist li
{
    display:inline;
}
#linechart
{
    width: 70%;
    margin: 3% auto 0 auto;
    text-align: center;
}
#piechart
{
    width: 65%;
    margin: 3% auto 0 auto;
}
.buysell
{
    width: 20%;
    margin: 3% auto 0 auto;
}
#sellerror
{
    color: red;
    margin: 0;
}
.buyerror
{
    color: red;
}
.history
{
    width: 70%;
    margin: 3% auto 0 auto;
}
